body {
    background-color: seashell;

}

a {
    text-decoration: none;
}

.navbar {
    height: 8dvh;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.flipkart-logo {
    height: 7dvh;
    width: 15dvh;
    padding-left: 7dvh;
    
}

.search-box {
    background-color: #E4EBF2;
    height: 4dvh;
    width: 90dvh;
    border-radius: 5px;
    display: flex;
    border: none;
}

.search-box input {
    background-color: #E4EBF2;
    outline: none;
    border: none;
    height: 4dvh;
    width: 90dvh;
    font-size: 20px;

}

.search-icon {    
    background-color: transparent;
    font-size: 3dvh;

}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1dvh;
}

.profile img {
    height: 3dvh;
    width: 3dvh;
    
}

.profile a{
    font-size: 2dvh;
    color: black;
}


.cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1dvh;
}

.cart img {
    height: 3dvh;
    width: 3dvh;
    
}

.cart a{
    font-size: 2dvh;
    color: black;
}

.seller {
    display: flex;
    align-items: center;
    gap: 1dvh;
}

.seller img {
    height: 3dvh;
    width: 3dvh;
    
}

.seller a{
    font-size: 2dvh;
    color: black;
}

.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.category-box {
    height: 13dvh;
    width: 150dvh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4dvh;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    
    font-style: normal;

}

.category-box img {
    height: 6dvh;
    width: 6dvh;

}

.grocery {
    display: flex;
    flex-direction: column;
    gap: 1dvh;

}

.mobile {
    display: flex;
    flex-direction: column;
    gap: 1dvh;
}

.fashion {
    display: flex;
    flex-direction: column;
    gap: 1dvh;
}

.electronics {
    display: flex;
    flex-direction: column;
    gap: 1dvh;
}

.furniture {
    display: flex;
    flex-direction: column;
    gap: 1dvh;
}

.appliances {
    display: flex;
    flex-direction: column;
    gap: 1dvh;
    
}

.flight {
    display: flex;
    flex-direction: column;
    gap: 1dvh;
}

.beauty_and_toys {
    display: flex;
    flex-direction: column;
    gap: 1dvh;
}

.two_wheeler {
    display: flex;
    flex-direction: column;
    gap: 1dvh;
    
}